<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <script src="/script/horloge.js" defer></script>
        <title>Info via API</title>
    </head>
    <!--fonction : onload, est utilisée par l'horloge-->
    <body onload=showDate();>
       
          
      <h1>Page informative via API</h1>


         <section class="hero-section">
                <div class="card-grid">
                <!--Box météo-->
                <a class="card" href="#">
                
                    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
                
                    <div class="card__content">
                        <p class="card__category">Informations</p>
                        <span id='horloge'></span>
                        <h3 class="card__heading">Météo</h3>
                        <img src="/img/meteo.jpg" alt="météo">
                        <p>A 18h il fera <%=temperature6pm%> °C</p>
                    </div>
                </a>
            
                <!--Box qualité de l'air-->
                <a class="card" href="#">
                
                  <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                
                  <div class="card__content">
                    <p class="card__category">Informations</p>
                    <h3 class="card__heading">Qualité de l'air</h3>
                    <img src="/img/airQuality.png" alt="">
                    <p>La qualité de l'air est de  <%=airQuality6pm%>  </p>
                  </div>
                </a>
            
                <!--Box bourse-->
                <a class="card" href="#">
                
                  <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                
                  <div class="card__content">
                    <p class="card__category">Informations</p>
                    <h3 class="card__heading">Bourse</h3>
                    <img src="/img/floats.jpg" alt="">
                    <p>Le taux du Dollar est de  <%=floatRateUSD%> </p>
                  </div>
                </a>
            
                <!--Box concerts-->
                <a class="card" href="#">
                
                  <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                
                  <div class="card__content">
                    <p class="card__category">Informations</p>
                    <h3 class="card__heading">Concerts</h3>
                    <img src="/img/concert.jpg" alt="">
                    <ul>
                        <% for (let i = 0; i< 4; i++){ %>
                            <li>
                            <strong><%= concerts[i].date %></strong>
                            <%= concerts[i].artiste %>,
                            dans la salle <%= concerts[i].sale %>
                        </li>
                        <%  } %>
                    </ul>
                  </div>
                </a>
            
                <!--Box news-->
                <a class="card" href="#">
                
                 <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
                
                 <div class="card__content">
                   <p class="card__category">Informations</p>
                   <h3 class="card__heading">News</h3>
                   <img src="/img/news.jpg" alt="">
                   
                 <ul>
                     <% items.forEach(function(item) { %>
                     <li>
                         <strong><%= item.title[0] %></strong>
                        
                         <%= item.description[0] %>,
                     </li>
                     
                     <% }); %>
                     
                  </ul>
                 </div>
                </a>
          </section> 
    </body>
</html>